h1 {
    background: blue;
    text-decoration: dashed;
    color: red
}


.paragraph-1 {
    background: rgb(206, 80, 80);
    font-size: 30pt;
    color: rgb(80, 166, 206);
}

.paragraph-2 {
    font-size: 25pt;
    border: 10px solid black;
    border-radius: 15px;
    margin: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paragraph-3 {
    font-size: 24px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-style: italic;
    text-shadow:green 10px 5px 10px;
}